<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CCF"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.hsqldb.Server"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-database.0 CCFDB -dbname.0 CCFDB -port 9002"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CCF"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="E:\ccf2.home.testbed\"/>
</launchConfiguration>
